

.newsEntry {
    transition: 'min-height 1s max-height 1s height 1s';
    overflow:hidden;
}

/*
.newsBoard {
    max-height: 30%;
    max-width:  50%;
    border: 'solid 5px';
    border-radius: 10px;
}
*/